.text-input {
  border: 1px solid $border-grey;
  font-size: $font-size-large;
  font-weight: 300;
  height: 50px;
  padding: $s-size;
  width: 100%;
  margin-right: 2%;
  border-radius: 5px;
  background-color: #DCDCDC;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
