.progress-bar {
  background-color: $base-grey;
  position: relative;
  height: 40px;
  width: 85%;
  border-radius: 5px;
}

.progress {
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
  background-color: $blue;
}
